$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-tertiray-light:#2998ff;
$color-tertiray-dark:#5643fa;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;


// Font size
$defalut-font-size: 1.6rem;