@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../base/base";
@import "../base/animations";
@import "../base/utilities";
@import "../base/button";

.section-stories {
    padding: 15rem 0;
    position: relative;

    .heading-secondary {
        font-size: 3.4rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right,
                $color-primary-light,
                $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 0.2rem;
        transition: all 0.2s;

        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: 0.5rem 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
        }
    }
}

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.1);
    background-color: rgba($color: $color-white, $alpha: .6);
    border-radius: 3px;
    padding-left: 9rem;
    padding: 6rem;
    font-size: $defalut-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}