*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem  = 10px; 10px/16px = 62.5%


    @include respond(tab-land) {
        // width < 1200
        font-size: 70%; //1rem = 9px/16 = 56.25%
    }

    @include respond(tab-port) {
        //width < 900
        font-size: 60%; //1rem = 8px/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12 , 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
}