@import "../../variables.scss";

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("/assets/img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

    .logo {
      height: 35px;
    }
  }

  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .header-primary {
      color: #fff;
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 60px;
      .heading-primary-main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        /*
          animation-iteration-count: 3;
          animation-delay: 1s;
        */
        @keyframes moveInLeft {
          0% {
            opacity: 0;
            transform: translateX(-100px);
          }
          80% {
            transform: translateX(10px);
          }
          100% {
            opacity: 1;
            transform: translate(0);
          }
        }
      }
      .heading-primary-sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 15px;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @keyframes moveInRight {
          0% {
            opacity: 0;
            transform: translateX(100px);
          }
          80% {
            transform: translateX(-10px);
          }
          100% {
            opacity: 1;
            transform: translate(100);
          }
        }
      }
    }
    .btn:link,
    .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 40px;
      display: inline-block;
      border-radius: 100px;
      transition: all 0.2s;
      position: relative;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.2);
        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
      &:active {
        transform: translateY(-1px);
      }
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
      }
    }
    .btn-white {
      background-color: #fff;
      color: #777;
      &::after {
        background-color: #fff;
      }
    }
    .btn-animated {
      animation: moveInBottom 0.5s ease-out 0.5s;
      animation-fill-mode: backwards;
      @keyframes moveInBottom {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }
        100% {
          opacity: 1;
          transform: translate(100);
        }
      }
    }
  }
}
